@font-face {
    font-family: 'Moderna';
    src: url('/fonts/MuseoModerno-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderna';
    src: url('/fonts/MuseoModerno-Italic-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}